<!doctype html>
<html lang="en">

<head>
  <title>Error!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
</head>

<body>
  <div class="jumbotron text-xs-center text-center p-5 m-0" style="height: 100vh">
    <h1 class="display-3 text-danger">Error!</h1>
    <p class="lead">
      There was an error with this payment
    </p>
    <hr>
    <p class="lead">
      <a class="btn btn-danger btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
  </div>
</body>

</html>